apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: python-backend
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/DmytroMalytskyi/final-project.git
    targetRevision: main
    path: k8s/app

  destination:
    server: https://kubernetes.default.svc
    namespace: apps

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
